@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@0;1&family=PT+Sans:ital@0;1&family=Sacramento&display=swap');

:root {
	/* CSS HEX */
	--clr-primary: #14145a;
	--clr-secondary: #333;
	--clr-text: #ccc;
	--clr-headings: #777;
	--clr-accent: #282865;

	/* Fonts */
	--ff-text: 'PT Sans', sans-serif;
	--ff-heading: 'Anonymous Pro', monospace;
	--ff-accent: 'Sacramento', serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: auto;
	background-color: var(--clr-primary);
}

p {
	color: var(--clr-text);
	font-family: var(--ff-text);
	line-height: 1.4;
}

h1,
h2,
h3 {
	color: var(--clr-secondary);
	font-family: var(--ff-heading);
}

a {
	color: var(--clr-text);
	text-decoration: none;
	font-family: var(--ff-text);
}

a:hover {
	color: var(--clr-headings);
}
